/* styles.css */
.bet-btn.disabled input,
.bet-btn.disabled button {
  pointer-events: none;
}
@keyframes char-tail {
  0% {
      transform: rotate(0)
  }

  50% {
      transform: rotate(5deg)
  }

  to {
      transform: rotate(0)
  }
}
@keyframes char-tail2 {
  0% {
      transform: rotate(0)
  }

  50% {
      transform: rotate(-5deg)
  }

  to {
      transform: rotate(0)
  }
}

@keyframes fx-stars {
  0% {
      opacity: .4;
      transform: scale(.4)
  }

  25% {
      opacity: .9;
      transform: scale(1)
  }

  30% {
      opacity: .2
  }

  45% {
      opacity: 1
  }

  60% {
      opacity: .2
  }

  75% {
      opacity: 1;
      transform: scale(1)
  }

  to {
      opacity: .4;
      transform: scale(.4)
  }
}

@keyframes fx-flash {
  0% {
      opacity: 0;
      transform: scale(1.1)
  }

  25% {
      opacity: 1;
      transform: scale(1)
  }

  30% {
      opacity: .5;
      transform: scale(1.1)
  }

  45% {
      opacity: 1;
      transform: scale(1)
  }

  60% {
      opacity: .5;
      transform: scale(1.1)
  }

  75% {
      opacity: 1;
      transform: scale(1)
  }

  to {
      opacity: 0;
      transform: scale(1.1)
  }
}


@keyframes move-bg {
  0% {
      transform: translate(0) scale(1.03)
  }

  50% {
      transform: translate(10px,10px) scale(1.03)
  }

  to {
      transform: translate(0) scale(1.03)
  }
}

@keyframes light-bg {
  0% {
      opacity: 1
  }

  50% {
      opacity: 0
  }

  to {
      opacity: 1
  }
}

@keyframes ring-result {
  0% {
      opacity: 0;
      transform: translate(-50%,-35%) scale(.7)
  }

  to {
      opacity: 1;
      transform: translate(-50%,-50%) scale(1)
  }
}

@keyframes scaletext {
  0% {
      transform: scale(1)
  }

  15% {
      transform: scale(.9)
  }

  30% {
      transform: scale(1)
  }

  to {
      transform: scale(1)
  }
}

.select {
  align-items: center;
  background-color: transparent;
  border: 1px solid #55657e;
  border-radius: 10px;
  display: flex;
  height: 48px;
  overflow: hidden;
  padding: 0 0 0 10px;
  position: relative
}

.select span {
  color: #55657e
}

.select:hover {
  border-color: #465a79
}

.select:after {
  background: #55657e40 url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='7' fill='none' viewBox='0 0 12 7'%3E%3Cpath fill='%23fff' d='M11.11 0H0l5.56 6.94L11.1 0z'/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat,repeat;
  background-size: 12px 7px;
  border-left: 1px solid #55657e;
  bottom: 0;
  content: "";
  display: block;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 29px;
  z-index: 1
}

.select-css {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  color: #55657e;
  cursor: pointer;
  display: block;
  flex: 1;
  font-size: 15px;
  font-weight: 600;
  height: 100%;
  line-height: 1.3;
  margin: 0;
  max-width: 100%;
  padding: .3em 1.6em .3em .6em;
}

.select-css::-ms-expand {
  display: none
}

.select-css:focus,.select-css:hover {
  border-color: #565e6f;
  outline: none
}

.select-css:disabled {
  cursor: not-allowed;
  opacity: .5
}

.select-css option {
  color: #000;
  font-weight: 400
}