/* styles.css */
.custom-tabs .semi-tabs-tab-active {
  color: #ecf24f; /* 活动标签文字颜色 */
}

.custom-tabs .semi-tabs-tab {
  color: white; /* 普通标签文字颜色 */
}

.custom-tabs .semi-tabs-tab:hover {
  color: #ecf24f;
}
.custom-tabs .semi-tabs-pane {
  color: white; /* 普通标签文字颜色 */
}

.semi-tabs-tab-line.semi-tabs-tab-top.semi-tabs-tab-active,
.semi-tabs-tab-line.semi-tabs-tab-top.semi-tabs-tab-active:hover {
  color: #ecf24f;
  border-bottom: 1px solid #ecf24f;
  background: none;
}

.content_info {
  background-color: #4c38;
  margin-right: 5px;
}
.content_info_active {
  background-color: #ecf24f;
  color: #184b38;
  margin-right: 5px;
}
.custom-collapse {
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}

.custom-collapse-item {
  border-bottom: 1px solid #ddd;
}

.custom-collapse-item:last-child {
  border-bottom: none;
}

/* 标题样式 */
.custom-collapse-header {
  padding: 12px 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

/* 图标样式 */
.custom-collapse-icon {
  transition: transform 0.3s ease;
}

.custom-collapse-icon.open {
  transform: rotate(180deg);
}

/* 内容样式 */
.custom-collapse-content {
  padding: 12px 16px;
  display: none; /* 默认隐藏内容 */
}

.custom-collapse-content.open {
  display: block; /* 展开时显示内容 */
}
.semi-page-item {
  color: white;
}
.semi-page-item-active {
  color: #0064fa;
}

.icon-comm {
  transition: transform 0.5s ease;
}

.icon-comm_rotate {
  transform-origin: center;
  transform: rotate(360deg);
}

.icon-comm_close {
  transform: rotate(0);
  transform-origin: center;
}
