body{
  background-color: #111922;
}
.container {
  margin: 0 auto;
  /* max-width: 1088px; */
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
  width: 100%;
}
@media (max-width: 576px) {
  .deck {
    margin-top: 0;
  }
}
.cards.small .card-inner {
  height: 100%;
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
  width: 100%;
}
.cards.small .card {
  background-color: transparent;
  display: inline-block;
  height: 70px;
  perspective: 1000px;
  width: 50px;
}
.cards.small .cards__inner > div {
  margin-right: 20px;
}
.cards.small .card-back {
  background-color: #fff;
  position: relative;
  /* transform: rotateY(180deg); */
}

/* @media (max-width: 576px) {
  .cards.small {
    height: 184px;
    width: 133px;
  }
} */

.cards.small .card {
  background-color: transparent;
  display: inline-block;
  height: 70px;
  perspective: 1000px;
  width: 50px;
}

.cards.small .card-back {
  background-color: #fff;
  border-radius: 5px;
  flex-basis: 50px;
  height: 70px;
  min-width: 50px;
  position: relative;
  width: 50px;
}

.cards.small .card-back span {
  font-size: 22px;
  font-weight: 900;
  line-height: 1;
  top: 11px;
}

.cards.small .card-back span,
.card-back:after {
  left: 50%;
  pointer-events: none;
  position: absolute;
  transform: translate(-50%);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.cards.small .card-back_spades:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='39' fill='none'%3E%3Cpath fill='%2326292F' d='M3.278 28.163c6.599 5.865 14.091-.234 14.948-.967.851.733 8.35 6.832 14.948.967 6.392-5.683-.644-14.922-8.193-21.796-1.995-1.814-6.404-5.76-6.76-5.76-.407-.006-4.366 3.603-6.737 5.76-7.561 6.88-14.597 16.113-8.206 21.796'/%3E%3Cpath fill='%2326292F' d='M3.165 28.163c6.598 5.865 14.091-.234 14.948-.967.85.733 8.35 6.832 14.948.967 6.392-5.683-.644-14.922-8.193-21.796-1.996-1.814-6.405-5.76-6.761-5.76C17.7.6 13.74 4.21 11.37 6.366 3.809 13.247-3.227 22.48 3.165 28.163'/%3E%3Cpath fill='%2326292F' d='M19.186 23.708h-2.26s1.507 7.45-5.802 14.898h13.864c-7.308-7.454-5.802-14.898-5.802-14.898'/%3E%3C/svg%3E");
}

.cards.small .card-back:after {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 60px 65px;
  bottom: 30px;
  content: "";
  display: block;
  height: 65px;
  margin-right: -30px;
  right: 50%;
  width: 60px;
}

.card-back_diamonds {
  color: #f04051;
}

.card-back_diamonds:after {
  /* background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='38' fill='none'%3E%3Cpath fill='%23F04051' d='M18.226 38 0 19.739 17.25 0 35 19.724z'/%3E%3C/svg%3E"); */
  background-image: url("/hilo/diamonds.svg");
}

.card-back_hearts {
  color: #f04051;
}

.card-back_hearts:after {
  /* background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='38' fill='none'%3E%3Cpath fill='%23F04051' d='M32.493 3.184c-6.62-7.405-14.139.3-14.992 1.224-.859-.923-8.376-8.629-14.997-1.224-6.414 7.175.647 18.848 8.224 27.537 2 2.295 6.425 7.274 6.784 7.279.408.005 4.381-4.552 6.756-7.279 7.583-8.689 14.644-20.356 8.225-27.537'/%3E%3C/svg%3E"); */
  background-image: url("/hilo/hearts.svg");
}

.card-back_clubs {
  color: #26292f;
}

.card-back_clubs:after {
  /* background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='39' fill='none'%3E%3Cpath fill='%2326292F' d='M26.488 12.2q-.114-.002-.226.006c.285-.852.441-1.76.441-2.7 0-4.815-4.05-8.717-9.046-8.717-4.997 0-9.046 3.902-9.046 8.718 0 .95.156 1.858.447 2.714-4.755.26-8.524 4.058-8.524 8.703 0 4.816 4.05 8.718 9.046 8.718 3.86 0 7.156-2.33 8.454-5.61 1.298 3.28 4.593 5.61 8.454 5.61 4.997 0 9.046-3.902 9.046-8.718 0-4.821-4.05-8.724-9.046-8.724'/%3E%3Cpath fill='%2326292F' d='M19.006 23.89h-1.944s1.296 7.45-4.992 14.899h11.927c-6.287-7.455-4.99-14.899-4.99-14.899z'/%3E%3C/svg%3E"); */
  background-image: url("/hilo/clubs.svg");
}

.card-back_spades {
  color: #26292f;
}

.card-back_spades:after {
  /* background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='39' fill='none'%3E%3Cpath fill='%2326292F' d='M3.278 28.163c6.599 5.865 14.091-.234 14.948-.967.851.733 8.35 6.832 14.948.967 6.392-5.683-.644-14.922-8.193-21.796-1.995-1.814-6.404-5.76-6.76-5.76-.407-.006-4.366 3.603-6.737 5.76-7.561 6.88-14.597 16.113-8.206 21.796'/%3E%3Cpath fill='%2326292F' d='M3.165 28.163c6.598 5.865 14.091-.234 14.948-.967.85.733 8.35 6.832 14.948.967 6.392-5.683-.644-14.922-8.193-21.796-1.996-1.814-6.405-5.76-6.761-5.76C17.7.6 13.74 4.21 11.37 6.366 3.809 13.247-3.227 22.48 3.165 28.163'/%3E%3Cpath fill='%2326292F' d='M19.186 23.708h-2.26s1.507 7.45-5.802 14.898h13.864c-7.308-7.454-5.802-14.898-5.802-14.898'/%3E%3C/svg%3E"); */
  background-image: url("/hilo/spades.svg");
}

.cards.small .card-back:after {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 60px 65px;
  bottom: 30px;
  content: "";
  display: block;
  height: 65px;
  margin-right: -30px;
  right: 50%;
  width: 60px;
}
.cards.small .card-back:after {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 20px 22px;
  bottom: 12px;
  content: "";
  display: block;
  height: 22px;
  width: 20px;
}

.cards.small .cards__inner {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 5px;
}

.cards.small .icon {
  background-color: #19212c;
  border: 1px solid rgba(85, 101, 126, 0.28);
  border-radius: 10px;
  box-shadow: 0 4px 8px #0d131cab;
  height: 34px;
  left: -28px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 34px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards.small .icon {
  flex-shrink: 0;
  margin-right: 15px;
}
.cards.small .icon_2:after {
  background-image: url(/hilo/mid.svg);
}
.cards.small .icon_1:after {
  background-image: url(/hilo/mid.svg);
  transform: scaleY(-1);
}
.icon_3:after {
  background-image: url(/hilo/skip.svg);
}

.error .icon_2:after,
.cards .cards__inner .icon_3:after,
.cards .cards__inner .icon_2:after,
.cards .cards__inner .icon_1:after {
  height: 24px;
  margin-top: -2px;
  width: 14px;
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
}

/* aaaaaaaaaaaa */

.table {
  /* position: relative;
  width: 200px;
  height: 300px;
  margin: 50px auto;
  perspective: 1000px;
  cursor: pointer; */
}

.table .card {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease, opacity 0.5s ease;
}

.table .card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.table .card-front,
.table .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
}

.table .card-front {
  background: white;
  transform: rotateY(180deg);
}

.table .card-number {
  font-size: 48px;
  font-weight: bold;
}

.table .card-suit {
  font-size: 32px;
  margin-top: 10px;
}

.table .card-back {
  /* background: #333; */
  /* border: 2px solid white; */
  background-image: url("/hilo/card-title.svg");
  background-size: 133px 184px;
}

/* @media (max-width: 576px) {
    .card-front[data-v-8ab81182] {
        background-size: 133px 184px;
    }
} */

.table .card.flipped .card-inner {
  transform: rotateY(180deg);
}

.table .card.removed {
  transform: translate(-150px, -150px) rotate(-20deg);
  opacity: 0;
}

.bg-mobile {
  height: 94px;
  inset: 0;
  pointer-events: none;
  position: absolute;
  width: 162px;
  /* z-index: -1; */
  /* fill: var(--Background-Septenary); */
  /* stroke: #6d809d; */
}
.btn_mobile {
  background-color: transparent;
  border: none;
  color: #6d809d;
  /* display: block; */
  font-size: 18px;
  font-weight: 700;
  height: 94px;
  position: relative;
  text-transform: uppercase;
  width: 162px;
}
.btn_mobile.down {
  color: #297fe5;
  padding: 5px 5px 20px;
}
.small-buttons button:first-child {
  margin-bottom: 5px;
}
.btn_mobile.down svg {
  fill: #297fe5;
  stroke: #297fe5;
}
/* @media (max-width: 576px) {
  .table .card {
    height: 184px;
    width: 133px;
  }
  .table {
    height: 184px;
    width: 133px;
    position: relative;
  }
} */
.table .card {
  height: 184px;
  width: 133px;
}
.table {
  height: 184px;
  width: 133px;
  position: relative;
}
.deck__btn-skip {
  background-color: transparent;
  border: none;
  bottom: -21px;
  left: 50%;
  padding: 0;
  position: absolute;
  transform: translate(-50%);
  z-index: 400;
}

.deck {
  border-radius: 10px;
  box-shadow: none;
  margin-top: -5px;
  position: relative;
  transition: box-shadow 0.3s;
}

.deck__inner {
  position: relative;
}

.deck__btn-skip svg {
  width: 117px;
  fill: #212c3b;
  transition: fill 0.3s;
}

.ins-btn-skip {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 12px;
  font-weight: 600;
  left: 50%;
  padding-left: 16px;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ins-btn-skip:before {
  background-image: url("/hilo/re.svg");
  bottom: 0;
  content: "";
  display: block;
  height: 12px;
  left: 0;
  margin-top: -6px;
  position: absolute;
  top: 50%;
  width: 12px;
}
*,
:before,
:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

.small-buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20px;
}
.hilo__center {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}
.card-empty {
  background-image: url("/hilo/card-title.svg");
  background-size: 50px 70px;
  border-radius: 5px;
}

/* .cards.small  .card-back:after {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 20px 22px;
  bottom: 12px;
  content: "";
  display: block;
  height: 22px;
  width: 20px;
} */
.card-empty .card-back {
  display: none;
}

.btn_mobile:disabled svg {
  fill: #6d809d;
  stroke: #6d809d;
}
.btn_mobile:disabled {
  color: #6d809d;
}

.btn_mobile.up svg {
  fill: #fed700;
  stroke: #fed700;
}
.btn_mobile.down svg {
  fill: #fed700;
  stroke: #fed700;
}

.icon_arrow,
.icon_equal {
  height: 16px;
  margin-right: 10px;
  width: 16px;
}
.icon_arrow {
  margin-left: 0;
}
.btn_mobile__inner span {
  align-items: center;
  display: flex;
  justify-content: center;
}
.btn_mobile.up span:first-child {
  order: 1;
}
.btn_mobile__inner {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  justify-content: space-around;
  width: 100%;
}

.btn_mobile.up {
  color: #fed700;
  padding: 20px 5px 5px;
}
.btn_mobile {
  background-color: transparent;
  border: none;
  color: #6d809d;
  display: block;
  font-size: 18px;
  font-weight: 700;
  height: 94px;
  position: relative;
  text-transform: uppercase;
  width: 162px;
}

.btn_mobile.down svg {
  fill: #297fe5;
  stroke: #297fe5;
}

.btn_mobile.up svg {
  fill: #fed700;
  stroke: #fed700;
}
.deck__btn-skip:disabled svg {
  width: 117px;
  fill: #212c3b;
  transition: fill 0.3s;
}
.result.aa {
  transform: translate(-50%, 6.5px);
  opacity: 1;
}
.result,
.result:before {
  left: 50%;
  pointer-events: none;
  position: absolute;
}
.result {
    align-items: center;
    background: linear-gradient(180deg,#0051cb 16.13%,#489cff 83.87%);
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    opacity: 0;
    overflow: hidden;
    padding: 15px 10px;
    top: 25%;
    transform: translate(-50%,10px);
    transition: all .3s;
    width: 200px;
    z-index: 500;
}

.result,.result:before {
    left: 50%;
    pointer-events: none;
    position: absolute;
}

.result:before {
    animation: spin-bd02c4c7 24s linear infinite;
    background-image: url(/hilo/lines-bg.png);
    background-size: cover;
    content: "";
    height: 488px;
    margin-left: -244px;
    top: -50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 488px
}

.result--show {
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%)
}

.result__coeficient {
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 6px;
    text-shadow: 0 5px 12px rgba(0,18,81,.4)
}

@keyframes spin-bd02c4c7 {
    to {
        transform: rotate(1turn)
    }
}