@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  overflow-y: auto;
}

#root::-webkit-scrollbar {
  display: none;
}

/* 自定义滚动条 */
.custom-scroll::-webkit-scrollbar {
  display: none;
}

/* 内容样式 */
.custom-collapse-content {
  padding: 12px 16px;
  display: none; /* 默认隐藏内容 */
}

.custom-collapse-content.open {
  display: block; /* 展开时显示内容 */
}
.semi-page-item {
  color: white;
}
.semi-page-item-active {
  color: #0064fa;
}
