.ux-message-enter {
  animation-name: ux-message-bounce-in-down;
  animation-duration: 0.75s;
  animation-fill-mode: both;
}

.ux-message-leave {
  animation-name: ux-message-bounce-out-down;
  animation-duration: 0.75s;
  animation-fill-mode: both;
}

@keyframes ux-message-bounce-in-down {
  0%,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}

@keyframes ux-message-bounce-out-down {
  20% {
    transform: translate3d(0, -10px, 0);
  }

  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}
