/* styles.css */
.bet-btn.disabled input,
.bet-btn.disabled button {
  pointer-events: none;
}
@keyframes ldio {
  0% {
      height: 0;
      left: 45px;
      opacity: 1;
      top: 45px;
      width: 0
  }

  to {
      height: 75px;
      left: 7.5px;
      opacity: 0;
      top: 7.5px;
      width: 75px
  }
}
@keyframes ldio2 {
  0% {
      height: 0;
      left: 45px;
      opacity: 1;
      top: 45px;
      width: 0
  }

  to {
      height: 75px;
      left: 7.5px;
      opacity: 0;
      top: 7.5px;
      width: 75px
  }
}

.arrow-down { 
  border-style: solid;
  border-width: 10px 7.5px 0;
  bottom: 181px;
  height: 0;
  position: absolute;
  right: -10px;
  transform: translate(-50%) rotate(90deg);
  width: 0;
}

.spinner {
  content-visibility: auto;
  display: flex;
  left: 50%;
  min-height: 22px;
  min-width: 22px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  align-items: center;
  
}

.spinner__bounce {
  animation: bouncedelay 1.2s ease-in-out infinite both;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block
}

.spinner__bounce:first-child {
  animation-delay: -.32s
}

.spinner__bounce:nth-child(2) {
  animation-delay: -.16s
}

.spinner_sm .spinner__bounce {
  height: 6px;
  margin: 0 2px;
  width: 6px
}

.spinner_md .spinner__bounce {
  height: 8px;
  margin: 0 3px;
  width: 8px
}

.spinner_lg .spinner__bounce {
  height: 10px;
  margin: 0 4px;
  width: 10px
}

@keyframes bouncedelay {
  0%,80%,to {
      transform: scale(0)
  }

  40% {
      transform: scale(1)
  }
}